<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>

        {% for item in site.data.education.education %}

            <div class="d-flex flex-column flex-md-row justify-content-between {% if forloop.last == false %} mb-5 {% endif %}">
                <div class="flex-grow-1">
                    <h3 class="mb-0"><a href="{{ item.institution-website }} ">{{ item.institution }}</a></h3>
                    <div class="subheading mb-3">{{ item.degree }}</div>
                    <div>{{ item.specialization }}</div>
                    <div>{{ item.awards }}</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">{{ item.years }}</span></div>
            </div>

        {% endfor %}
        
    </div>
</section>