<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>

        {% for item in site.data.experience.experience %}
        <div class="d-flex flex-column flex-md-row justify-content-between {% if forloop.last == false %} mb-5 {% endif %}">
            <div class="flex-grow-1">
                <h3 class="mb-0">{{ item.title }}</h3>
                <div class="subheading mb-3">{{ item.company }}</div>
                <p>{{ item.description }}</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">{{ item.years }}</span></div>
        </div>
        {% endfor %}

    </div>
</section>